p,a, span{font-weight: 200;}
.icon1::before {
    content: "1";
	}
	.icon2::before {
    content: "2";
	}
	.icon3::before {
    content: "3";
	}
	.icon4::before {
    content: "4";
	}
	.icon3::after {
    content: "3";
	}
	.icon4::after {
    content: "4";
	}
	.ic::before{
    margin-left: -55px;
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}
	.ic::after {
    margin-left: 15px;
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    margin-top: -60px;
}
.icon3::before, .icon4::before {
    visibility: hidden;
}
.main-btn {
    padding: 15px 25px;
    border-radius: 100px;
    color: #fff;}
.tt {
    position: absolute;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0 100%, 5% 50%);
    right: 0;
}
.partners img {
    padding: 10px 30px;
}
.hamburger-menu {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

.hidden {
  display: none;
}
.carousel-container {
  max-width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel-item {
  flex: 0 0 100%;
}

.carousel-item img {
  width: 100%;
  height: auto;
}
.zoom:hover img {
        transform: scale(1.1);
      }
.shd{box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4);}
.privacy-policy p{padding-bottom: 20px;}
@media (max-width: 768px) { 
.icon3::after {content: "3";visibility: hidden;}
.icon4::after {content: "4";visibility: hidden;}
.icon3::before, .icon4::before {visibility: visible;}
.tt {clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%, 0% 50%);position: unset;}
}
@media (max-width: 640px) { 
.icon3::after {content: "3";visibility: hidden;}
.icon4::after {content: "4";visibility: hidden;}
.icon3::before, .icon4::before {visibility: visible;}

}